---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Mosab Portfolio " description="Mosab Yousef,Full Stack Web Developer">
	<Card
	  name="Mosab Yousef"
	  position="Full Stack Web Developer"
	  aboutMe={`Hi there! I'm Mosab, a seasoned full stack web developer passionate about crafting clean and dynamic websites. With +5 years of experience, I specialize in front-end and back-end development using HTML, CSS, JavaScript, and frameworks like Vue , React and Angular.\n\nI thrive on creating user-centric designs and optimizing performance for seamless browsing experiences.\n\nLet's collaborate TOGHETER!`}
	  linkedin="https://www.linkedin.com/in/muss3ab"
	  github="https://github.com/muss3ab"
	  cvLink="/files/resume-cv.pdf"
	  profileImage="/images/profile2.webp"
	/>
</BaseLayout>
